@import url('https://fonts.googleapis.com/css?family=Nunito:400');

/* With the typography import you should only import the weights that are needed - to minimise loading time MF */

/* Each component should have its own CSS file (Certainly the table controller and the table should be seperate so they can be used independently) MF */

/* If they were to have their own CSS files then the class names can be shorter. Eg 'selected' and 'unselected' as opposed to 'tablePage_Unselected' (which name doesn't actually make sense as it is relating to the table control.)  MF  */

/* So with CSS Modules you don't need to prefix all the class names with the component name.  MF */




.table{
    box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.06);
    border-collapse:collapse;
    margin:auto;
    text-align: left;
}
.table td {
    padding:10px;
}
.table th {
    padding:10px;
}
.tableHeading{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    color: #323232;
    
}
.tableRowOdd{
background-color:#F7F7F7;
}
.tableRowEven{
    background-color:#FFF;
}    

.tableData{    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    color: #2D283E;    
    
}
.tableData1c{    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    color: #1E88E5;
}


